# Pycache
__pycache__/
*.py[cod]
*.so

.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Env
.venv/
venv/
env/
ENV/

.DS_Store
.idea/

# Checkpoints
checkpoints/
results/
src/logs/
src/YOLOX_outputs/
